.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>img {
        height: 3.75rem;
    }

    &>header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3.25rem 0;

        & button {
            background: none;
            border: none;
            cursor: pointer;
        }

        & img:hover {
            scale: 1.3;
        }

        & img {
            height: 2rem;
            transition: scale 0.5s;
        }

        & span {
            font-size: 1.12rem;
            color: #9b9b9b;


            & strong {
                font-size: 1.37 rem;
                color: #e8891c;
            }
        }
    }
}